*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.maps{
    position: relative;
    width: 600px;
    height: 450px;
    background: #fff;
}